* {
    font-family: "UbuntuMono Nerd Font", "JetBrainsMono Nerd Font", "Hack Nerd Font", monospace;
    font-size: 16px;
    /* font-weight: bold; */

    /* Sane defaults */
    margin: 0;
    padding: 0 2px;
}

window#waybar {
    background-color: #000000;
    /* background-color: rgba(26, 27, 38, 0.5); */
    color: #c0caf5;
}

.modules-left, .modules-center, .modules-right {
    margin: 0 4px;
}

#battery,
#bluetooth,
#custom-ip,
#custom-ip_target,
#custom-vpn,
#network,
#wireplumber {
    padding: 0 6px;
}

#battery {
    color: #a6d189;
    padding: 0 8px;
}

#battery:hover {
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #E8EDF0;
}

#battery.warning:not(.charging) {
    color: yellow;
}

#battery.critical:not(.charging) {
    color: red;
}

#bluetooth {
    color: cyan;
}

#bluetooth:hover {
    color: lightcyan;
}

#clock:hover {
    font-weight: bold;
}

#custom-arch {
    color: #1793d1;
    font-size: 24px;
}

#custom-arch:hover {
    color: cyan;
}

#custom-ip {
    color: #7673f2;
    font-weight: bold;
}

#custom-ip:hover {
    color: #b0aef6;
}

#custom-ip_target {
    color: crimson;
    font-weight: bold;
    padding-left: 20px;
}

#custom-ip_target:hover {
    color: #ff4560;
}

#custom-vpn {
    color: #009929;
    font-weight: bold;
}

#custom-vpn:hover {
    color: #4be675;
}

#network {
    color: #1E90FF;
}

#network:hover {
    color: skyblue;
}

#privacy {
    color: orange;
    padding: 0;
}

#wireplumber {
    color: deeppink;
    padding: 0 8px;
}

#wireplumber:hover {
    color: pink;
}

#workspaces button {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: #ffa200;
}

#workspaces button.empty {
    color: #c0caf5;
}

#workspaces button.active {
    color: #FF0000;
}

#taskbar {
    color: red;
    background-color: red;
}
