Host *
    StrictHostKeyChecking ask

Host aur.archlinux.org
    IdentitiesOnly yes
    IdentityFile ~/.ssh/AUR
    StrictHostKeyChecking yes
    User aur

Host github.com
    IdentitiesOnly yes
    IdentityFile ~/.ssh/GitHub
    StrictHostKeyChecking yes
    User git
